<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Play</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding "> 
    <div class="card border">    
      <div class="card-block ">
          <ion-grid>
            <ion-row>
              <ion-col size="4">     
                <ion-input type="number" min="0" max="9" maxlength="1" 
                required="true" class="form-control border border-secondary text-lg text-center"
                [(ngModel)]="comb1">                            
                </ion-input>    
              </ion-col>
              <ion-col size="4">      
                <ion-input type="number"  min="0" max="9"  maxlength="1" 
                required="true" class="form-control border border-secondary text-lg text-center"
                [(ngModel)]="comb2"></ion-input>
              </ion-col>
              <ion-col size="4">       
                <ion-input type="number"  min="0" max="9"  maxlength="1"
                required="true" class="form-control border border-secondary text-lg text-center"
                [(ngModel)]="comb3"></ion-input>
              </ion-col>
          </ion-row>
          </ion-grid>
      </div>
    </div>   
    <div class="card border" style="margin-top: 15px; margin-left: 10px; margin-right: 10px;">    
      <div class="card-block bg-secondary">      
        <ion-grid>
        <table >         
          <tr>
           
            <td style="text-align: center; width: 35%;">
              <ion-label><span class="badge badge-pill badge-info center">Straight</span></ion-label>
              <ion-input type="number" value="0" min="0" class="form-control border border-secondary"   [(ngModel)]="straight">                       
              </ion-input>    
            </td>
            <td style="text-align: center; width: 35%;"> 
              <ion-label><span class="badge badge-pill badge-info center">Rumble</span></ion-label>
              <ion-input type="number" value="0" min="0" class="form-control border border-secondary" [(ngModel)]="rumble"></ion-input>
            </td>
            <td style="text-align: center;width: 30%;">
              <ion-label><span class="badge badge-pill badge-warning center">ADD BET</span></ion-label>
              <ion-button color="dark" style="font-size:small;" 
              expand="full" size="small" expand="block"  (click)="addItem()">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </td>          
          </tr>
        </table>
      </ion-grid>
      </div>
    </div>     
    <br/>
    <table class="table table-striped table-sm">
      <thead>
        <tr style="font-size: 13px;">
          <th>Combination</th>
          <th>Straight</th>
          <th>Rumble</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor = "let item of items; let ind = index;">       
        <tr style="text-align: center; vertical-align: middle;">
          <th scope="row">{{item.combDisp}}</th>
          <td>{{item.strght}}</td>
          <td>{{item.rumb}}</td>
          <td><button type="button" class="btn btn-outline-warning" (click)="deleteItem(ind)"><ion-icon name="trash"></ion-icon></button></td>
        </tr>
      </tbody>
    </table>
    <ion-content >            
       <ion-button color="primary" expand="block" (click)="sendSMS()">       
        PLACE BET
      </ion-button>       
    </ion-content>
</ion-content>