<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Play</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding "> 
      <div class="card border">    
        <div class="card-block ">
          <ion-grid>
            <ion-row>
              <ion-col size="4">     
                <ion-input type="number" class="form-control border border-secondary text-center">                            
                </ion-input>    
              </ion-col>
              <ion-col size="4">      
                <ion-input type="number" class="form-control border border-secondary text-center"></ion-input>
              </ion-col>
              <ion-col size="4">       
                <ion-input type="number" class="form-control border border-secondary text-center"></ion-input>
              </ion-col>
          </ion-row>
          </ion-grid>
        </div>
      </div>   
</ion-content>